<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Item</title>
</head>
<body>
    <%- include("../partials/errors.ejs") %>
    <form action="/item/create" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">
        <label for="quantity">Quantity:</label>
        <input type="number" name="quantity" id="quantity">
        <label for="price">Price:</label>
        <input type="number" step="0.01" name="price" id="price">
        <label for="description">Description:</label>
        <textarea name="description" id="description"></textarea>
        <select name="category_id" id="category_id">
            <% categories.forEach(category => { %>
                <option value=<%= category.id %>><%= category.name %></option>
            <% }); %>
        </select>
        <button type="submit">Submit</button>
    </form>
    <a href="/item">Back</a>
</body>
</html>